.text-position-left {
  text-align: left;
}

.text-position-right {
  text-align: right;
}

.text-position-center {
  text-align: center;
}

.text-color-black {
  color: black;
}

.text-color-blue {
  color: blue;
}

.text-color-red {
  color: red;
}

.text-size-small {
  font-size: 12px;
}

.text-size-medium {
  font-size: 18px;
}

.text-size-big {
  font-size: 24px;
}

.width-small {
  width: 10%;
}

.background-color-gray-light {
  background-color: rgb(226, 226, 226);
}

.background-color-gray-dark {
  background-color: rgb(161, 161, 161);
}

.background-color-green {
  background-color: green;
}

.background-color-yellow {
  background-color: yellow;
}

.background-color-red {
  background-color: red;
}

.table-row {
  justify-content: center;
  width: 200px;
  height: 5vh;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 12px;
}

.input {
  justify-content: center;
  width: 194px;
  height: 2vh;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  justify-content: center;
  width: 5%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.box {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: x-large;
}

.box-small {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: x-large;
}

.star {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.centered-div {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cell-alive {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cell-dead {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  background-color: lightgray;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cell-button {
  width: 100px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-table-row {
  justify-content: center;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-left: 10%;
  margin-top: 12px;
}

.user-table-element {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
